In [1]:
import pandas as pd
import json
from collections import defaultdict

**Match Details**

In [2]:
with open('T20_Data/MatchSummary.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721

In [3]:
df_match.shape

(52, 7)

In [4]:
df_match.to_csv('T20_Data_csv/match_summary.csv', index = False)

**Batting Summary**

In [5]:
with open('T20_Data/BattingSum.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])

df_batting = pd.DataFrame(all_records)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,out/not_out,R,B,M,4s,6s,SR,match_id
0,India vs South Africa,India,1,Rohit Sharma,out,9,5,7,2,0,180.00,T20I # 2729
1,India vs South Africa,India,2,Virat Kohli,out,76,59,87,6,2,128.81,T20I # 2729
2,India vs South Africa,India,3,Rishabh Pant,out,0,2,2,0,0,0.00,T20I # 2729
3,India vs South Africa,India,4,Suryakumar Yadav,out,3,4,9,0,0,75.00,T20I # 2729
4,India vs South Africa,India,5,Axar Patel,out,47,31,38,1,4,151.61,T20I # 2729

In [6]:
df_batting.to_csv('T20_Data_csv/batting_summary.csv', index = False)

**Bowling Summary**

In [7]:
with open('T20_Data/BowlingSummary.json') as f:
    data = json.load(f)
    all_records = []

    for rec in data:
        all_records.extend(rec['bowlingSummary'])

df_bowling = pd.DataFrame(all_records)
df_bowling.head()

,match,bowlingTeam,bowlerName,O,M,R,W,ECON,0s,4s,6s,WD,NB,match_id
0,India vs South Africa,South Africa,Marco Jansen,4.0,0,49,1.0,12.25,4,5,2,1,1,T20I # 2729
1,India vs South Africa,South Africa,Keshav Maharaj,3.0,0,23,2.0,7.66,10,3,1,0,0,T20I # 2729
2,India vs South Africa,South Africa,Kagiso Rabada,4.0,0,36,1.0,9.00,8,2,2,2,0,T20I # 2729
3,India vs South Africa,South Africa,Aiden Markram,2.0,0,16,NaN,8.00,1,0,1,0,0,T20I # 2729
4,India vs South Africa,South Africa,Anrich Nortje,4.0,0,26,2.0,6.50,7,2,0,2,0,T20I # 2729

In [8]:
df_bowling.to_csv('T20_Data_csv/bowling_summary.csv', index = False)

**Player Info**

In [9]:
with open('T20_Data/Player_Info.json') as f:
    data = json.load(f)
df_info = pd.DataFrame(data)
df_info.head()

,team,name,role,age,batting_style,bowling_style,image_url
0,Afghanistan,Azmatullah Omarzai,Allrounder,24y 38d,Right hand Bat,Right arm Medium fast,https://images.icc-cricket.com/image/upload/t_...
1,Afghanistan,Fareed Ahmad,Bowler,29y 265d,Left hand Bat,Left arm Fast medium,https://images.icc-cricket.com/image/upload/t_...
2,Afghanistan,Fazalhaq Farooqi,Bowler,23y 222d,Right hand Bat,Left arm Fast medium,https://images.icc-cricket.com/image/upload/t_...
3,Afghanistan,Gulbadin Naib,Batting Allrounder,32y 332d,Right hand Bat,Right arm Medium fast,https://images.icc-cricket.com/image/upload/t_...
4,Afghanistan,Hazratullah Zazai,Opening Batter,26y 39d,Left hand Bat,Slow Left arm Orthodox,https://images.icc-cricket.com/image/upload/t_...

In [10]:
df_info.to_csv('T20_Data_csv/Player_Info.csv', index = False)